#page{
    width: 100%;
}

.firstRow{
    display: flex;
}

.firstRow > div {
    background-color: orange;
    margin: 10px;
    margin-bottom: 30px;
    width: 50rem;
    height: 5rem;

}

.secondRow{
    display: flex;
    background: greenyellow;
    margin: 10px;
    margin-bottom: 30px;
    height: 10rem;
}

.thirdRow{
    display: flex;
}

.thirdRow > div {
    background: rgb(133, 133, 238);
    margin: 10px;
    margin-bottom: 30px;
    width: 30rem;
    height: 7rem;
    
}

.fourRow{
    display: flex;
}

.fourRow > div {
    background: rgba(153, 149, 149, 0.486);
    margin: 10px;
    margin-bottom: 30px;
    width: 20rem;
    height: 6rem;
}
