body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
}

header{
    width: 90%;
    height: 15%;
    margin-left: 5%;
    margin-right: 5%;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    background: plum;
}

.sidebar{
    position: fixed;
    width: 10%;
    height: 600px;
    padding: 1rem 0rem 0rem 0rem;
    background-color: transparent;
}

.content{
    padding: 1rem 0rem 0rem 7rem;
    align-content: center;
}

footer{
    width: 90%;
    height: 15%;
    margin-left: 5%;
    margin-right: 5%;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    background: plum;
}